@font-face {
 src: url(../file/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Black.otf);
 font-family: "Noto-Black";
}
@font-face {
src: url(../file/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.otf);
font-family: "Noto-Bold";
}
@font-face {
src: url(../file/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Light.otf);
font-family: "Noto-Light";
}
@font-face {
src: url(../file/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.otf);
font-family: "Noto-Medium";
}
@font-face {
src: url(../file/fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Regular.otf);
font-family: "Noto-Regular";
}
*{
margin: 0;
padding: 0;
}
ul{
list-style: none;
}
a{
display: block;
text-decoration: none;
color: black;
}
.noto-black{
 font-family: Noto-Black;
}
.noto-bold{
font-family: Noto-Bold;
}
.noto-medium{
font-family: Noto-Medium;
}
.noto-regular{
font-family: Noto-Regular;
}
.noto-light{
font-family: Noto-Light;
}
::-webkit-scrollbar{
width: 0;
height: 0;
}
@media (max-width:1920px) {
 .row{
  width: 1420px;
  height: 100%;
  margin: 0 auto;
 }
 .container{
  width: 1920px;
  height: 2891px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
 } 
 header{
  width: 1920px;
  height: 150px;
  /* background-color: rgba(0, 1, 10, 0.89); */
  position: absolute;
  top: 0;
  z-index: 2;
 }
 header > .row{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 }
 header > .row > .nav{
  display: flex;
  width: 895px;
  height: 36px;
  position: absolute;
  left: 775px;
  top: 106px;
  z-index: 2;
 }
 header > .row > .nav > li{
  width: 25%;
 }
 header > .row > .nav > li > a{
  font-size: 19px;
  color: white;
  text-align: center;
 }
 header > .row > .nav:hover li > a{
  color: black;
 }
 header > .row > .nav > li:hover > a{
  color: #e18734;
 }
 header > .row > .nav li .sub-menu{
  width: 100%;
  height: 0;
  margin-top: 11px;
  overflow: hidden;
  transition: all 0.2s;
 }
 header > .row > .nav li .sub-menu > ul{
  margin-top: 25px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 header > .row > .nav li .sub-menu > ul > li{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 header > .row > .nav li .sub-menu > ul > li > a{
  font-size: 16px; 
 }
 header > .row > .nav li .sub-menu > ul > li:hover > a{
  color: #e18734;
 }
 header > .row > .nav:hover .sub-menu{
  height: 350px;
  transition: all 0.7s;
 }
 header > .row > .background{
  width: 1920px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -1;
  overflow: hidden;
  transition: all 0.5s;
 }
 header > .row > .nav:hover ~ .background{
  height: 500px;
  transition: all 0.5s;
 }
 header > .row > .background > .event{
  width: 1920px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 150px;
  border-top: rgb(180, 180, 180) 1px solid;
 }
 .back-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 607px;
  background-color: white;
  overflow: hidden;
 }
 .back-img > img.background{
  position: absolute;
  top: -129px;
  left: -36px;
  width: 1956px;
  z-index: 1;
 }
 section{
  width: 1920px;
  height: 2493px;
 }
 section > .slid > .background{
  width: 1920px;
  height: 607px;
  top: 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
}
 section > .slid > .background .back{
  width: 1920px;
  height: 607px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 1, 10, 0.486);
  backdrop-filter: blur(0px);
  z-index: 1;
 }
 section > .slid > .background .event{
  width: 1920px;
  height: 47px;
  background-color: white;
  align-self: flex-end;
  z-index: 0;
 }
 section > .slid > .background .rod{
  width: 458px;
  height: 47px;
  align-self: flex-end;
  justify-self: flex-end;
  background-color: #dedede;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 section > .slid > .background .rod > p{
  font-size: 14px;
  margin-left: 20px;
 }
 section > .slid > .row{
  position: absolute;
  left: 360px;
  left: 250px;
  top: 280px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
 }
 section > .slid > .row > .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
 }
 section > .slid > .row > .text > p:nth-child(1){
  color: white;
  font-size: 50px;
  margin-left: 110px;
  margin-bottom: -24px;
 }
 section > .slid > .row > .text > p:nth-child(2){
  color: white;
  font-size: 50px;
  margin-left: 110px;
  /* margin-left: 15px; */
 }
 section > .slid > .row > .text > p > span{
  color: #e18734;
 }
 section > .slid > .row > .text > p:nth-child(3){
  color: white;
  font-size: 30px;
  margin-left: 110px;
  /* margin-left: 15px; */
 }
 section > .slid > .row > .text > p:nth-child(4){
  color: white;
  font-size: 40px;
  align-self: flex-end;
  margin-right: 19px;
  /* justify-self: center; */
  /* margin-left: 15px; */
 }
 
 section > .main > .row > .title{
  width: 515px;
  height: 103px;
  margin-top: 156px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 section > .main > .row > .title > p{
  font-size: 40px;
  color: white;
 }
 section > .main > .row > .title > p > span.color{
  color: #cc6633;
 }
 section > .main > .row > .event{
  border-top: 1px solid black;
 }
 section > .main > .row > ul{
  /* position: absolute;
  top: 848px; */
  display: flex;
  flex-direction: column;
  height: 740px;
  width: 100%;
  border-bottom: 1px solid black;
 }
 section > .main > .row > ul > li{
  display: flex;
  position: relative;
  align-items: center;
  height: 65px;
  /* margin-top: 53px;
  margin-bottom: -18px; */
 }
 section > .main > .row > ul > li:first-child{
  margin-top: 20px;
 }
 section > .main > .row > ul > li > p{
  font-size: 30px;
 }
 section > .main > .row > ul > li:last-child > p{
  font-size: 30px;
  align-self: flex-start;
  margin-top: 10px;
 }
 section > .main > .row > ul > li > ul{
  position: absolute;
  left: 135px;
  top: 15px;
 }
 section > .main > .row > ul > li > ul > li > p{
  font-size: 24px;
  color: #666666;
 }
 section > .main > .row > ul > li:nth-child(8) > ul > li:nth-child(1) > p{
  margin-bottom: -10px;
 }
 section > .main > .row > ul > li:nth-child(8) > ul > li:nth-child(2) > p{
  margin-bottom: -10px;
 }
 section > .sub{
  width: 1920px;
  height: 792px;
 }
 section > .sub > .row > .poster{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 792px;
  display: flex;
 }
 section > .sub > .row > .poster > ul{
  height: 791px;
 }
 section > .sub > .row > .poster > ul > li{
  width: 900px;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #b9b9b9;
 }
 section > .sub > .row > .poster > ul > li > p{
  font-size: 30px; 
  margin-top: 35px;
 }
 section > .sub > .row > .poster > ul > li:first-child > p{
  margin-top: 75px;
  font-size: 30px; 
 }
 section > .sub > .row > .poster > ul > li > ul{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 80px;
  margin-top: 33px;
  padding-bottom: 42px;
 }
 section > .sub > .row > .poster > ul > li:first-child > ul{
  margin-top: 79px;
  padding-bottom: 50px;
 }
 section > .sub > .row > .poster > ul > li > ul > li > p{
  font-size: 18px; 
  color: #666666;
 }
 section > .sub > .row > .poster > ul > li > ul > li.title > p{
  font-size: 24px; 
 }
 section > .sub > .row > .poster > img{
  height: 651px;
  margin-top: 76px;
  margin-left: 24px;
 }
 footer > img{
  position: absolute;
  top: 2643px;
  left: 0;
 }
}