Options -Indexes -MultiViews

RewriteEngine On  

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([^.]+)$ $1.php [NC,L] 

RewriteRule ^(api\/Json)$ /api/Json.php [QSA,L]